<nav class="navbar navbar-expand-lg navbar-light box-shad1" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" >Bestify Your Time</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page"  routerLink="/signin" >Signin / Signup</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container-xxl">
  <img src="assets/homepage_bg.jpg" class="img-fluid" alt="Background image">
  <div class="top-left" id="ad-title">Get Ahead</div>
  <div class="top-left" id="ad-content">Build skills with quizes get sharpened your logical thinking and do fun with games <br> online from world-class universities and companies</div>
  <button routerLink="signin" id="joinus" class="top-left btn btn-light my-2 my-sm-0" type="submit">Join for Free</button>
</div>
<div class="container">
  <h2> Achieve your goals with Bestify Your Time</h2>
</div>
<div class="container">
  <div class="navbar navbar-expand-lg">
    <div class=" ban-hero nav-item">
      <img src="assets/SvgaLearn.png" class="img-svg" alt="Learn image">
      <h3>Get the latest question sets</h3>
      <br>
      <p>like general knowledge, technical subjects, e-commerce, and more!!</p>
    </div>
    <div class="ban-hero nav-item">
      <img src="assets/teacher-img.png" class="img-svg" alt="Learn image">
      <h3>Get ready for your exams by practising with our quiz sets</h3>
      <br>
      <p>in high-demand fields like IT, AI and cloud engineering</p>
    </div>
    <div class="ban-hero nav-item">
      <img src="assets/SvgaColorCertificate.png" class="img-svg" alt="Learn image">
      <h3>Earn a profile that helps you to build your carrier</h3>
      <br>
      <p>from a leading university in business, computer science, and more</p>
    </div>
    <div class="ban-hero nav-item">
      <img src="assets/SvgaCommunity.png" class="img-svg" alt="Learn image">
      <h3>Upskill your organization</h3>
      <br>
      <p>with on-demand training and development programs</p>
    </div>
  </div>
</div>
<br>
<div class="container-lg myContainer">
  <img src="assets/forum_image.jpeg" class="img-fluid forumImage" alt="features image">
  <div class="float-right forumText">
    <h2 class="ml-lg-4.75">Want to ask Questions??</h2>
    <p class="ml-5">Got a lot of questions in mind??<br>Clear everything by using our Forum!</p>
  </div>
</div>
<br>
<div class="container-xl">
  <img src="assets/best.png" class="img-fluid" alt="features image" style="width: 100%;">
</div>

<div class="ban-willian container border-top">
  <div class="navbar navbar-expand-lg">
    <div class="nav-item navbar-brand mb-0">
      <h5>Bestify Your Time</h5>
    </div>
    <div class="nav-item">
      <p id="copyright">Copyright (c) FET Angular Group 6_2022 | Bestify Your Time | Inc. All Rights Reserved</p>
    </div>
  </div>
</div>

