.row{
 
   
    .card{
        margin-top: 10rem;
        margin-left: 5rem;
        margin-bottom: 10rem;
        margin-right: 5rem;
        .card-img-top{
            height:20rem ;
           
        }
    }
}
