<div class="row col-12">
    <div class="card col-4" style="width:20rem;">
      <img class="card-img-top" src="assets/tetris.jpg" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">The Tetris</h5>
        <p class="card-text">Some quick entertainment will drive you crazy and addicted.</p>
        <a href="/user/tetris"   routerLinkActive="active"  class="btn btn-primary" (click)="setGameId()"  >Go & Play</a>
      </div>
    </div>
  
    <div class="card col-4" style="width:20rem;">
      <img class="card-img-top" src="assets/snake.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Snake Field</h5>
        <p class="card-text">This is the only way to make you a snake lover.</p>
        <a href="/user/snake"   routerLinkActive="active" class="btn btn-primary">Go & Play</a>
      </div>
    </div>
    <div class="card col-4" style="width:20rem;">
      <img class="card-img-top" src="assets/Tic.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tic-Tac-Toe</h5>
        <p class="card-text">If you want to counter your opponent in life just play this !!</p>
        <a  href="/user/tic-tac-toe"  routerLinkActive="active" class="btn btn-primary">Go & Play</a>
      </div>
    </div>
  </div>