<!-- <form class="form-group w-100">
  <div class="col-md-12 w-100 ">
      <label>Search Quiz </label>
  </div>
  <div class=" col-mg=d-12">
    <input type="text" class="form-control"  placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword">
  </div>
  <table class="table table-striped">
    <tbody>
        <tr *ngFor="let item of searchData | filter:searchedKeyword">
            <td>{{item.quizName}}</td>
        </tr>
    </tbody>
  </table>
</form>
 -->

<div class="wrap">
  <div class="search">
     <input type="text" class="searchTerm" placeholder="Search Quiz Here"  [(ngModel)]="searchedKeyword">
  </div>
  <table class="table  table-hover mx-2 ">
    <tbody>
        <tr *ngFor="let item of searchData | filter:searchedKeyword" class="">
            <td  class="d-flex flex-row justify-content-between ">
              <p class="text-dark font-weight-bold">{{item.quizName}}</p>
              <div>
                <button (click)="getQuiz(item.quizId)" class="btn btn-primary rounded mx-2">Start Quiz</button>
                <button class=""(click)="addToFAV(item.quizId)" class="btn btn-warning rounded mx-2">Add To Favorite</button>
              </div>
            </td>     
        </tr>
       
    </tbody>
  </table>

</div>