.login-box {
  width: 100%;
  margin: auto;
  height: 84vh;
  position: relative;
  margin-top: 1.5rem;
}

.login-snip {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 60px 80px 60px 80px;
  background: #e3f2fd;
}

.login-snip .login,
.login-snip .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
  display: none;
}

.login-snip .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab {
  color: rgba(29, 14, 14, 0.836);
  border-color: #1161ee;
}

.login-space {
  min-height: 345px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.login-space .group {
  margin-bottom: 15px;
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  width: 100%;
  color: rgba(29, 14, 14, 0.836);
  display: block;
}

.login-space .group .input,
.login-space .group .button {
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.1);
}

.login-space .group input[data-type="password"] {
  -webkit-text-security: circle;
}

.login-space .group .label {
  color: rgba(29, 14, 14, 0.836);
  font-size: 22px;
}

.login-space .group .button {
  background: #1161ee;
}

.login-space .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #e3f2fd;
  position: absolute;
  -webkit-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
}

.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  -webkit-transform: scale(0) rotate(0);
          transform: scale(0) rotate(0);
}

.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  -webkit-transform: scale(0) rotate(0);
          transform: scale(0) rotate(0);
}

.login-space .group .check:checked + label {
  color: rgba(29, 14, 14, 0.836);
}

.login-space .group .check:checked + label .icon {
  background: #1161ee;
}

.login-space .group .check:checked + label .icon:before {
  -webkit-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
}

.login-space .group .check:checked + label .icon:after {
  -webkit-transform: scale(1) rotate(-45deg);
          transform: scale(1) rotate(-45deg);
}

.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
  display: block;
}

.foot {
  text-align: center;
}

.cardlogin {
  width: 500px;
  left: 100px;
}

::-webkit-input-placeholder {
  color: #b3b3b3;
}

:-ms-input-placeholder {
  color: #b3b3b3;
}

::-ms-input-placeholder {
  color: #b3b3b3;
}

::placeholder {
  color: #b3b3b3;
}

.box-shad1 {
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}
/*# sourceMappingURL=sign-in.component.css.map */