.lb-margTop {
  margin-top: 1rem;
}

.border-lb {
  // border: 1px solid grey;
  padding: 1rem;
}

.color-Bold {
  color: black;
}

viewScore {
  font-weight: bold;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  span {
    margin-left: 1rem;
  }
}
